*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardWrapper{
  max-width: 1000px;
  margin: auto;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  img{
    width: 100%;
  }
}